
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.fg-white:visited {
    text-color: white;
}

.bg-neutral-500 {
    background-color: #737373;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.p-1 {
    padding: 0.25rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.inline {
    display: inline;
}
